<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Atma:400,700" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <title>Result</title>
  </head>
  <body>
    <div class='container'>
      <div class='top-panel'>
        <h1 class='jumbotron'>Result</h1>
        <p><span class='temp'>You Typed Sentence:</span> "{{result.getSentence}}".</p>
        <p><span class='temp'>You Typed Word:</span> "{{result.getWord}}".</p>
        <p><span class='temp'>We found:</span> "{{result.getWord}}" in the sentence <span class='count'>{{result.countRepeats}}</span> times.</p>
        <a href='/'><button class='btn btn-primary btn-block btn-lg'>Back to top</button></a>
      </div>
    </div>
    <footer class="footer navbar-fixed-bottom">
      <h6>Koji Nakagawa</h6>
      <a href="https://github.com/KNaka88">Github</a>
    </footer>
  </body>
</html>
